<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Test blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Test Blog</a></h1>
        <p>This page is main page!</p>
        <p><a href="/admin">To administrators page</a></p>
    </div>

    {% for post in posts %}
        <div>
            <h3><a href="">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>published: {{ post.published_date }}</p>
        </div>
    {% endfor %}
</body>
</html>